*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#081229;
  color:white;
}

html{
  scroll-behavior:smooth;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#0d1b3d;
}

.navbar ul{
  display:flex;
  gap:25px;
  list-style:none;
}

.navbar a{
  color:white;
  text-decoration:none;
}

.hero{
  min-height:90vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 10%;
}

.hero-text{
  max-width:550px;
}

.hero-text h1{
  font-size:4rem;
  line-height:1.1;
}

.hero-text span{
  color:#38bdf8;
}

.hero-text h3{
  margin-top:20px;
  color:#cbd5e1;
}

.hero-text p{
  margin-top:20px;
  line-height:1.8;
  font-size:18px;
}

.btn{
  margin-top:25px;
  padding:12px 25px;
  border:none;
  background:#38bdf8;
  color:white;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
}

.hero-image img{
  width:250px;
  height:250px;
  object-fit:cover;
  border-radius:50%;
  border:5px solid #38bdf8;
  box-shadow:0 0 30px rgba(56,189,248,.5);
}


.section{
  padding:80px 10%;
  text-align:center;
}

.section h2{
  margin-bottom:30px;
}

.skills{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.skills div{
  background:#0d1b3d;
  padding:12px 25px;
  border-radius:30px;
}

.projects{
  display:flex;
  justify-content:center;
  gap:25px;
  flex-wrap:wrap;
}

.card{
  width:300px;
  background:#0d1b3d;
  padding:25px;
  border-radius:15px;
}

footer{
  text-align:center;
  padding:20px;
  background:#0d1b3d;
}

@media(max-width:768px){

.hero{
  flex-direction:column-reverse;
  text-align:center;
  padding:50px 20px;
}

.hero-image img{
  width:250px;
  height:250px;
  margin-bottom:30px;
}

.hero-text h1{
  font-size:2.5rem;
}

.navbar{
  flex-direction:column;
  gap:15px;
}

}